body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,p{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    padding: 0 15px;
    width: 320px;
}

@media screen and (min-width: 768px) {
    .container{
        width: 786px;
    }
}

@media screen and (min-width: 1200px) {
    .container{
        width: 914px;
    }
}